<body class="ord">
  <section class="main-page-padding">
  <div class="card">
    <div class="payment-success">
      <i class="checkmark ii">✓</i>
    </div>
    <div><h1 class="h11"><span class="price-symbol">₹</span><%= @final_value %></h1></div>
    <div>Order_id:-<%= @user_order.id %></div>
    <div><%  @user = current_user %></div>
    <div><%= @user.email %>
      <h1 class="h11">Order has been placed</h1> 
     <h4><%= button_to "okay",root_path, method: :get %></h4>
  </div>
  <div>
</section>
